{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/devs.css' %}">
{% endblock head %}

{% block title %}
covic Developers!
{% endblock title %}

{% block content %}
<div class="d-flex flex-column flex-fill p-5 align-items-center justify-content-center bg-light grid gap-3">
    <h1>covic Developers!</h1>
    <div class="d-flex flex-row flex-wrap flex-fill gap-3">

        <div class="d-flex flex-column flex-fill align-self-center align-items-center alert alert-dark gap-2">
            <img src="{% static 'image/dimas.png' %}" width="300" height="300" class="img-fluid rounded" alt="Dimas">
            <p class="h5 fw-bold">Dimas Ilham Danesamarruf</p>
            <div class="d-flex align-items-center flex-fill">
                <ul class="list-group list-group-horizontal">
                    <a class="list-group-item list-group-item-action list-group-item-light"
                        href="https://www.linkedin.com/in/dimas-id/">LinkedIn</a>
                    <a class="list-group-item list-group-item-action list-group-item-light"
                        href="https://github.com/dimas-id">GitHub</a>
                </ul>
            </div>
        </div>

        <div class="d-flex flex-column flex-fill align-self-center align-items-center alert alert-dark gap-2">
            <img src="{% static 'image/rizky.jpg' %}" width="300" height="300" class="img-fluid rounded" alt="Rizky">
            <p class="h5 fw-bold">Rizky Juniastiar</p>
            <div class="d-flex align-items-center flex-fill">
                <ul class="list-group list-group-horizontal">
                    <a class="list-group-item list-group-item-action list-group-item-light"
                        href="https://www.linkedin.com/in/rizkyjuniastiar/">LinkedIn</a>
                    <a class="list-group-item list-group-item-action list-group-item-light"
                        href="https://github.com/rizkyyjun">GitHub</a>
                </ul>
            </div>
        </div>

    </div>
</div>
{% endblock content %}