{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/devs.css' %}">
{% endblock head %}

{% block title %}
covic Developers!
{% endblock title %}

{% block content %}
<div
    class="d-flex flex-column flex-fill p-5 align-self-stretch align-items-center justify-content-center bg-light grid gap-3">
    <h1>COVID-19 Information Center</h1>
    <div class="w-50">
        <p>COVID-19 Information Center, or could be called as <span class="fw-bold">covic</span>
            is a COVID-specialized search engine that could help you to solve your COVID-related problems!
            <span class="fw-bold">covic</span> is here to help you answer your COVID-related questions! ♥♥
        </p>
        <p><span class="fw-bold">covic</span> was based on the
            <a class="fw-bold link-dark link-underline-opacity-0 link-underline-opacity-100-hover"
                href="https://ir.nist.gov/covidSubmit/index.html">COVID-19 Open Research Dataset (CORD-19)</a>,
            a collection of biomedical literature articles, related to COVID-19 informations, that is updated regularly.
            <a class="fw-bold link-dark link-underline-opacity-0 link-underline-opacity-100-hover"
                href="https://ir.nist.gov/covidSubmit/index.html">CORD-19</a> was created based on TREC (Text Retrieval
            Conference) model that is mainly focused to evaluate search algorithms and systems for helping scientists,
            clinicians, policy
            makers, and others manage the existing and rapidly growing corpus of scientific literature related to
            COVID-19.
        </p>
        <p>With the help of the provided <a
                class="fw-bold link-dark link-underline-opacity-0 link-underline-opacity-100-hover"
                href="https://ir.nist.gov/covidSubmit/index.html">CORD-19</a> dataset,
            <span class="fw-bold">covic</span> aims to help people get their solutions for any of their COVID-related
            problems easily. Hopefully, <span class="fw-bold">covic</span> could be your COVID helper in the future ♥
        </p>
    </div>
</div>
{% endblock content %}